<form name="formupdatedit" method="post" action="">
  <table width=98% align=center cellspacing=1 cellpadding=3 class=i_table>
    <tr>
      <td colspan="2" class=head> 图 片 信 息 管 理</td>
    </tr>
    <-{foreach from=$sql_images item=images}->
    <tr id='list<-{$images.img_picid}->' onclick="onclickclass('list<-{$images.img_picid}->');" class=movclick style='cursor: hand;'>
      <td><img width="120" height="120" src="<-{$images.img_picsrc}->" /></td>
      <td><pre><input type=hidden name="picid[<-{$images.img_picid}->]" value='<-{$images.img_picid}->'>  
	大小：  <-{$images.img_picsize}->K<BR />
	用户ID：<-{$images.img_uid}->
	评分：  <-{$images.img_filg}->
	删除：  <input type="checkbox" name="del[<-{$images.img_picid}->]" value="<-{$images.img_picid}->" />
	</pre></td>
    </tr>
    <-{/foreach}->
    <tr>
      <td colspan="2" class=b><-{$fpageup}-></td>
    </tr>
    <tr>
      <td colspan="2" class=b> 用户ID(数字):
        <input name="Keyword" id=Keyword type="text" size="20" value="<-{$Keyword}->">
        <a href="javascript:getNews('showtable','admin.php?action=<-{$action}->&Keyword='+escape(document.getElementById('Keyword').value));">查询</a></td>
    </tr>
  </table>
  <center>
    <input type=hidden name=update value='update'>
	<input type='button' style="width:62px;height:22px;border:0;background:url('./image/edit/smb_btn_bg.gif');line-height:20px;" name='chkall' value=' 全 选 ' onclick='CheckAll(this.form)'>
    <input id=Submit name=Submit type=button style="width:62px;height:22px;border:0;background:url('./image/edit/smb_btn_bg.gif');line-height:20px;" value='删除' onfocus=true onclick="saveUserlogin('admin.php?action=<-{$action}->&option=del','formupdatedit','','getNews(\'showtable\',\'admin.php?action=<-{$action}->&Keyword=<-{$Keyword}->&page=<-{$nPage}->\');');" />
  </center>
</form>
