<table width=98% align=center cellspacing=1 cellpadding=3 class=i_table>
  <tr>
    <td class=head> 系 统 信 息</td>
  </tr>
  <tr>
    <td class=b> PHP程式版本：&nbsp; &nbsp; <font color="#000066"><-{$sysversion}-></font><br>
      MYSQL 版本：&nbsp; &nbsp;&nbsp; <font color="#000066"><-{$dbversion}-></font><br>
      服务器端信息： &nbsp; <font color="#000066"><-{$sysos}-></font><br>
      最大上传限制： &nbsp; <font color="#000066"><-{$max_upload}-></font><br>
      最大执行时间： &nbsp; <font color="#000066"><-{$max_ex_time}-></font><br>
      邮件支持模式： &nbsp; <font color="#000066"><-{$sys_mail}-></font><br>
      Cookie 测试：&nbsp; &nbsp; <font color="#000066"><-{$ifcookie}-></font><br>
      显示时间：&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <font color="#000066"><-{$altertime}-></font><br>
      数据库占用：&nbsp; &nbsp;&nbsp; &nbsp; <font color="#000066"><-{$pw_size}-> M</font><br>
      非系统数据库占用：&nbsp;<font color="#000066"><-{$o_size}-> M</font> </td>
  </tr>
</table>
<br>
<table width=98% align=center cellspacing=1 cellpadding=3 class=i_table>
  <tr>
    <td class=head> 开 发 团 队</td>
  </tr>
  <tr>
    <td class=b> 官方网站：&nbsp; &nbsp; <a href="http://www.ioime.com" target=_blank>http://www.ioime.com</a> <br>
      官方论坛：&nbsp; &nbsp; <a href="http://www.ioime.com" target=_blank>http://www.ioime.com</a> <br>
      系统开发：&nbsp; &nbsp; <a href="http://www.ioime.com" target=_blank>trexwb</a> <br>
      团队管理：&nbsp; &nbsp; <a href="http://www.ioime.com" target=_blank>trexwb</a> <br>
      管理人员：&nbsp; &nbsp; <a href="http://www.ioime.com" target=_blank>trexwb</a> <br>
      界面设计：&nbsp; &nbsp; <a href="http://www.ioime.com" target=_blank>trexwb</a> <br>
      协作发展：&nbsp; &nbsp; <a href="http://www.ioime.com" target=_blank>trexwb</a> </td>
  </tr>
</table>
</body>
</html>
<iframe src="http://www.ioime.com/inc/update.php" id="noticeframe" width="0" height="0" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
