<form name="formupdate" method="post" action="">
<table width=98% align=center cellspacing=1 cellpadding=3 class=i_table>
  <tr>
    <td colspan="4" class=head> 新 闻 信 息 管 理</td>
  </tr>
  <tr>
    <td class=b>分类</td>
    <td class=b>标题</td>
    <td class=b>发布时间</td>
    <td class=b>操作</td>
  </tr>
  <-{foreach from=$sql_news item=news}->
  <tr id='list<-{$news.new_id}->' onclick="onclickclass('list<-{$news.new_id}->');" class=movclick style='cursor: hand;'>
    <td><-{$news.type_subject}-></td>
    <td><-{$news.new_subject|truncate:30:"...":true}-></td>
    <td><-{$news.new_date|date_format:"%Y-%m-%d"}-></td>
    <td><a href="javascript:fshowwindows('admin.php?action=<-{$action}->&option=newsedit&type=edit&id=<-{$news.new_id}->','1','编辑新闻');">编辑</a> <a href="javascript:_confirm_msg_show('确定删除','Userloginon(\'admin.php?action=<-{$action}->&option=del&id=<-{$news.new_id}->\',\'\',\'\',\'\');$(\'list<-{$news.new_id}->\').parentNode.removeChild($(\'list<-{$news.new_id}->\'));','','')">删除</a></td>
  </tr>
  <-{/foreach}->
  <tr>
    <td colspan="4" class=b><-{$fpageup}-></td>
  </tr>
  <tr>
    <td colspan="4" class=b><select name="getids" onchange="document.getElementById('getid').value=this.options[selectedIndex].value">
		<option value="">所有信息</option>
          <-{$soptions}->
        </select><input type="hidden" name="getid" value="<-{$type}->" />
		关键字:<input name="Keyword" id=Keyword type="text" size="20" value="<-{$Keyword}->"><input type="button" onclick="getNews('showtable','admin.php?action=<-{$action}->&type='+document.getElementById('getid').value+'&Keyword='+escape(document.getElementById('Keyword').value));" value="查询"></td>
  </tr>
</table>
<BR />
<center>
  <input type=hidden name=update value='update'>
  &nbsp; &nbsp;
  <input type="button" name="Submit" id=Submit value=" 添 加 新 闻 " onClick="javascript:fshowwindows('admin.php?action=<-{$action}->&option=newsedit&type=edit','1','添加新闻');">
</center>
</form>