.editerToolsBox{
	border-top: 1px solid #808080;
}
.editerToolsBG{
	width:616px;
	height:20px;
	background:url("http://image2.sina.com.cn/blog/tmpl/v3/images/word_edit/bg.gif");
	padding-left:4px;
}
.editerArrowUp{
	width:18px;
	border-left:1px solid #ffffff;
	background:url("http://image2.sina.com.cn/blog/tmpl/v3/control/images/arrow_up.gif") #bdb7b7 no-repeat center;
}
.editerArrowDown{
	width:18px;
	border-left:1px solid #ffffff;
	background:url("http://image2.sina.com.cn/blog/control/images/arrow_down.gif") #bdb7b7 no-repeat center;
}
.editerToolsIMG{
	background:url("http://image2.sina.com.cn/blog/tmpl/v3/images/word_edit/tools.gif");
	height:20px;
}
.editerTextBox{
}
.editerTextTopBG{
	background:url("http://image2.sina.com.cn/blog/tmpl/v3/images/word_edit/bodyTop.gif");
	height:16px;
}
.editerTextBottomBG{
	background:url("http://image2.sina.com.cn/blog/tmpl/v3/images/word_edit/bodyBottom.gif");
	height:27px;
}
.editerTextBG{
	width:558px;
	background-image:url("http://image2.sina.com.cn/blog/tmpl/v3/images/word_edit/bodyBg.gif");
	background-color:#ffffff;
	padding-left:80px;
}
.editerTextArea{
	background:#fff;
	border:0px;
	padding-top:10px;
	width:500px;
	height:343px;
	overflow:auto;
}
.editerTextArea1{
	background:#fff;
	border:0px;
	padding-top:10px;
	width:500px;
	height:443px;
	overflow:auto;
}