<-{include file="header.htm"}->
<table width="954" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="acount_line">
  <tr>
    <td width="194" valign="top" background="image/lvyou/bg_left.gif" class="left_line"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="100%" id=showlogin></td>
        </tr>
        <tr>
          <td id=showabout></td>
        </tr>
      </table></td>
    <td width="562" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="3"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="url">您现在的位置：<a href="index.php">首页</a> &gt; <a href="index.php?action=news&id=<-{$sql_info.type_id}->"><-{$sql_info.type_subject}-></a> &gt; <-{$sql_info.new_subject|truncate:40:"...":true}-></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td height="3" colspan="3"></td>
        </tr>
        <tr>
          <td width="7%"  class="title_green"><img src="image/lvyou/icon_7.gif" width="35" height="24"></td>
          <td width="93%" colspan="2" class="title_green"><-{$sql_info.type_subject}-></td>
        </tr>
        <tr>
          <td colspan="3" bgcolor="#EBF9FD"><table width="94%" border="0" align="center" cellpadding="0" cellspacing="4">

              <tr>
                <td align="center"><table border="0">
                    <tr>
                      <td class="title_border"><-{$sql_info.new_subject}-></td>
                    </tr>					
                  </table></td>
              </tr>
			  <-{if $sql_info.new_writer!=''}-><tr><td>作者：<-{$sql_info.new_writer}-></td></tr><-{/if}->
			  <-{if $sql_info.new_quote!=''}-><tr><td>引用：<-{$sql_info.new_quote}-></td></tr><-{/if}->
              <tr>
                <td class="td_content"><-{$sql_info.new_content}-></td>
              </tr>
		<tr>
                <td class="td_content" align="right">发布时间:<-{$sql_info.new_date|date_format:"%Y-%m-%d"}-></td>
		</tr>
            </table></td>
        </tr>
        <tr>
          <td colspan="3" bgcolor="#EBF9FD">&nbsp;</td>
        </tr>
      </table></td>
    <td width="194" valign="top" bgcolor="#12a0d0"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td height="30" class="txt_title_white">&nbsp;<img src="image/lvyou/ico_2.gif" width="8" height="8"> 天气预报</td>
        </tr>
        <tr>
          <td height="130" align="center" bgcolor="#C1E9FF"><iframe width='180' height='260' scrolling='no' frameborder='0' src= 'http://www.sstour.net/?action=weather&option=weather'></iframe></td>
        </tr>
        <tr>
          <td><img src="image/lvyou/index_61.gif" width="194" height="65"></td>
        </tr>
        <tr>
          <td height="151" valign="top" background="image/lvyou/index_69.gif" id=showguide></td>
        </tr>
        <tr>
          <td><img src="image/lvyou/index_84.gif" width="194" height="52"></td>
        </tr>
        <tr>
          <td id=showline></td>
        </tr>
      </table></td>
  </tr>
</table>
<script>
getNews('showlogin','<-{$boardurl}->index.php?action=login&option=indexlogin');
getNews('showabout','<-{$boardurl}->index.php?action=index&option=showabout');
getNews('showguide','<-{$boardurl}->index.php?action=index&option=showguide');
getNews('showline','<-{$boardurl}->index.php?action=index&option=showline');
</script>
<-{include file="fooder.htm"}->