<!--<?php
print <<<EOT
-->
<html>
<head>
<Base href="{$boardurl}">
<META http-equiv='Content-Type' content="text/html; charset={$ODBC['charset']}">
<meta name=keywords content='{$config['keywords']}'>
<meta name=description content='{$config['description']}'>
<title>{$config['webname']}</title>
<LINK href="lang/style.css" type=text/css rel=stylesheet>
</head>
<body>
<br>
<div class="bodyer" style="padding-top:100px;">
  <div class="curlycontainer">
    <div class="innerdiv">
      <p><a href="{$boardurl}">{$config['webname']}</a> &raquo; <font color="#FF6600"><b>提示信息</b></font>&nbsp;<br>
        <br>
        状态：<font color="#009900"><B>{$msg_info}</B></font><br>
        <br>
        {$showquit}</p>
    </div>
  </div>
</div>
</body>
</html>
<!--
EOT;
?>-->
