<HTML>
<HEAD>
<Base href="<-{$boardurl}->">
<TITLE><-{$config.title}->_<-{$configwebname}-></TITLE>
<meta name=robots content='index,follow'>
<Meta http-equiv="Widow-target" Content="_top">
<meta name=keywords content='<-{$config.keywords}->'>
<meta name=description content='<-{$config.description}->'>
<META http-equiv=Content-Type content="text/html; charset=<-{$charset}->">
<LINK href="<-{$boardurl}->lang/style.css" type=text/css rel=stylesheet>
<link rel="stylesheet" type="text/css" href="<-{$boardurl}->image/lvyou/style.css" />
<link rel="stylesheet" type="text/css" href="<-{$boardurl}->image/lvyou/space.css" />
<link rel="stylesheet" type="text/css" href="<-{$boardurl}->image/lvyou/scenic.css" />
<script>var hostpath = '<-{$boardurl}->';</script>
<SCRIPT language=JavaScript src='<-{$boardurl}->lang/ajax.js'></SCRIPT>
<SCRIPT language=JavaScript src='<-{$boardurl}->lang/js.js'></SCRIPT>
<script>
var myimages=new Array();
function preloadimages()
{
	for (i=0;i<preloadimages.arguments.length;i++)
	{
		myimages[i]=new Image();
		myimages[i].src=preloadimages.arguments[i];
	}
}
preloadimages("<-{$boardurl}->image/face/dialogClose0.gif","<-{$boardurl}->image/face/dialogCloseF.gif","<-{$boardurl}->image/msg/closed.gif");
</script>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="spacename">
      <div id="xspace-spacename"><strong><-{$sql_scenic.sc_subject|strip|strip_tags}-></strong>
        <p><a href="javascript:;" class="xspace-copyurl" onClick="javascript:setCopy('<-{$boardurl}-><-{$REQUEST_URI}->');" title="复制地址">copy</a> <a href="<-{$boardurl}-><-{$REQUEST_URI}->" title="加入收藏" class="xspace-add2fav" onClick="javascript:addBookmark('<-{$sql_hotel.hot_subject}->','<-{$boardurl}-><-{$REQUEST_URI}->');return false;">Bookmark</a>
        <div class="start">
          <ul>
            <li><a id=start1 class=seldea title="A级"> </a></li>
            <li><a id=start2 title="AA级"> </a></li>
            <li><a id=start3 title="AAA级"> </a></li>
            <li><a id=start4 title="AAAA级"> </a></li>
          </ul>
          <script>rateHover(<-{$sql_scenic.sc_start}->,4,'start')</script>
        </div>
        </p>
      </div>
    </div>
    <div id="menu">
      <ul id="xspace-menu">
        <li class="xspace-active"><a href="<-{$boardurl}->"><-{$configwebname}-></a></li>
        <li><a href="<-{$boardurl}->index.php?action=scenic&option=single&id=<-{$sql_scenic.sc_id}->">首页</a></li>
        <li><a href="<-{$boardurl}->index.php?action=scenic&option=article&id=<-{$sql_scenic.sc_id}->">资讯</a></li>
        <li><a href="<-{$boardurl}->index.php?action=scenic&option=scenicyou&id=<-{$sql_scenic.sc_id}-> ">游记</a></li>
        <li><a href="<-{$boardurl}->index.php?action=scenic&option=scenicattrs&id=<-{$sql_scenic.sc_id}->">景点</a></li>
        <li><a href="<-{$boardurl}->index.php?action=scenic&option=scenicphoto&id=<-{$sql_scenic.sc_id}->">相册</a></li>
        <li><a href="<-{$boardurl}->index.php?action=scenic&option=scenicword&id=<-{$sql_scenic.sc_id}->">留言</a></li>
      </ul>
    </div>
  </div>
  <div id="content" class="xspace-layout1">
    <div id="mainarea" class="mainarea-side">
      <div id="xspace-guide"> 您的位置: <a href="<-{$boardurl}->"><-{$configwebname}-></a> &raquo; <a href="<-{$boardurl}->index.php?action=scenic&option=single&id=<-{$sql_scenic.sc_id}->"><-{$sql_scenic.sc_subject}-></a> &raquo; <a href="<-{$boardurl}->index.php?action=scenic&option=article&id=<-{$sql_scenic.sc_id}->">资讯</a></div>
	  <div id="show">
        <div>
          <ul class="xspace-itemlist">
            <li class="xspace-loglist">
              <h4 class="xspace-entrytitle"> <-{$sql_hotelthread.thr_subject|strip|strip_tags}-></h4>
              <p class="xspace-smalltxt"> <-{$sql_hotelthread.thr_date}-> <a>查看(<-{$sql_hotelthread.thr_views}->)</a> <a href="javascript:;" onClick="fshowwindows('<-{$boardurl}->index.php?action=update&option=scenicarticle&type=edit&id=<-{$sql_hotelthread.thr_hid}->&Industry=<-{$sql_hotelthread.thr_id}->',1,'修改资讯');">修改</a> <a href="javascript:;" onClick="_confirm_msg_show('确定删除资讯', 'Userloginon(\'<-{$boardurl}->index.php?action=update&option=scenicarticle&type=del&id=<-{$sql_hotelthread.thr_hid}->&Industry=<-{$sql_hotelthread.thr_id}->\',\'\',\'\',\'location.href=\\\'<-{$boardurl}->index.php?action=hotel&option=scenicarticle&id=<-{$sql_hotelthread.thr_hid}->\\\'\');', '', '');">删除</a></p>
              <div class="xspace-itemmessage" id="xspace-item169"><-{$sql_hotelthread.thr_content}-></div>
            </li>
          </ul>
        </div>
		<div id="showthreadword"></div>
		<div id="xspace-itemform">
		<fieldset>
          <form id="commentform" name="commentform" method="post">            
            <legend>我来说两句</legend>
            <p>
              <label for="xspace-commentmsg">内容</label>
              <textarea name="message" style="width:280px;height:8em;vertical-align:text-top;" id="message"></textarea>
            </p>
            <p>
              <label for="xspace-nickname">昵称</label>
              <input type="text" size="20" id="nickname" name="nickname" value="<-{$uname}->" /></p>
            <p class="xspace-seccodeline">
              <label for="xspace-seccode">验证</label>
			  <input type='text' maxLength=4 name='gdcode' style="ime-mode:disabled" size=10>
              <label for="xspace-seccode"><iframe id=gdcodeiframe src="<-{$boardurl}->update.php?action=authimg" width="50" height="20" marginheight="0" marginwidth="0" scrolling="no"></iframe></label>
            </p>
            <p><input type="hidden" name="hid" value="<-{$sql_scenic.sc_id}->" />
			<input type="hidden" name="tid" value="<-{$sql_hotelthread.thr_id}->" />
			  <input type=button name=submit id=submit value='发表留言' onClick="saveUserlogin('<-{$boardurl}->index.php?action=word&option=scenicthreadword','commentform','','');">
            </p>            
          </form>
		  </fieldset>
        </div>
      </div>
    </div>    
    <div id="sideleft" class="sidearea">
      <div id="avatar" class="xspace-sideblock">
        <div id="xspace-avatar"></div>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">用户菜单</h3>
        <ul id="xspace-action">
          <script src="<-{$boardurl}->spaces.php?action=showhotel&id=<-{$sql_scenic.sc_id}->"></script>
        </ul>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">标题搜索</h3>
        <div style="padding:10px 10px 10px 10px">
          <input type="text" id="searchkey" name="searchkey" style="height:24px;" value="" />
          <input type="button"  style="background-image:url(image/admin/search_go.gif);height:24px;width:24px;cursor:hand;" onClick="fScreening('<-{$boardurl}->index.php?action=scenic&option=single&id=<-{$sql_scenic.sc_id}->&Keyword='+escape($('searchkey').value))" name="submit" id="submit" value="" />
        </div>
        <p id=showscenictage></p>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">推荐景点</h3>
        <ul class="xspace-list" id=showscenicattr>
        </ul>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">推荐图片</h3>
        <ul class="xspace-list" id=showscenicphoto>
        </ul>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">景区介绍</h3>
        <p id=showscenicinfo></p>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">景区交通</h3>
        <p id=showscenictraffic></p>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">数据统计</h3>
        <ul class="xspace-list" id=showsceniclist>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
getNews('xspace-avatar','<-{$boardurl}->index.php?action=scenic&option=showhotlogo&id=<-{$sql_scenic.sc_id}->');
getNews('showscenictage','<-{$boardurl}->index.php?action=scenic&option=showscenictage&id=<-{$sql_scenic.sc_id}->');
getNews('showscenicattr','<-{$boardurl}->index.php?action=scenic&option=showscenicattr&id=<-{$sql_scenic.sc_id}->');
getNews('showscenicphoto','<-{$boardurl}->index.php?action=scenic&option=showscenicphoto&id=<-{$sql_scenic.sc_id}->');
getNews('showscenicinfo','<-{$boardurl}->index.php?action=scenic&option=showscenicinfo&id=<-{$sql_scenic.sc_id}->');
getNews('showscenictraffic','<-{$boardurl}->index.php?action=scenic&option=showscenictraffic&id=<-{$sql_scenic.sc_id}->');
getNews('showsceniclist','<-{$boardurl}->index.php?action=scenic&option=showsceniclist&id=<-{$sql_scenic.sc_id}->');
getNews('showthreadword','<-{$boardurl}->index.php?action=scenic&option=showthreadword&id=<-{$sql_scenic.sc_id}->&Industry=<-{$sql_hotelthread.thr_id}->');
</script>
<div id="xspace-footer">
  <p id="xspace-footer-ad"><-{$cache_config.hack_adfoot}-></p>
  <p id="xspace-copyright"><-{$POPlv}-> 执行时间：<-{$rentime}-></p>
</div>
<div id=showtage></div>
<iframe frameborder="0" height="0" width="0" scrolling="no" id=iframeupdate name=iframeupdate></iframe>
<div id=showwindow></div>
</body>
</html>
