<HTML>
<HEAD>
<Base href="<-{$boardurl}->">
<TITLE><-{$config.title}->_<-{$configwebname}-></TITLE>
<meta name=robots content='index,follow'>
<Meta http-equiv="Widow-target" Content="_top">
<meta name=keywords content='<-{$config.keywords}->'>
<meta name=description content='<-{$config.description}->'>
<META http-equiv=Content-Type content="text/html; charset=<-{$charset}->">
<LINK href="<-{$boardurl}->lang/style.css" type=text/css rel=stylesheet>
<link rel="stylesheet" type="text/css" href="<-{$boardurl}->image/lvyou/style.css" />
<link rel="stylesheet" type="text/css" href="<-{$boardurl}->image/lvyou/space.css" />
<link rel="stylesheet" type="text/css" href="<-{$boardurl}->image/lvyou/hotel.css" />
<script>var hostpath = '<-{$boardurl}->';</script>
<SCRIPT language=JavaScript src='<-{$boardurl}->lang/ajax.js'></SCRIPT>
<SCRIPT language=JavaScript src='<-{$boardurl}->lang/js.js'></SCRIPT>
<script>
var myimages=new Array();
function preloadimages()
{
	for (i=0;i<preloadimages.arguments.length;i++)
	{
		myimages[i]=new Image();
		myimages[i].src=preloadimages.arguments[i];
	}
}
preloadimages("<-{$boardurl}->image/face/dialogClose0.gif","<-{$boardurl}->image/face/dialogCloseF.gif","<-{$boardurl}->image/msg/closed.gif");
</script>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="spacename">
      <div id="xspace-spacename"><strong><-{$sql_travel.sc_subject}-></strong>
        <p><a href="javascript:;" class="xspace-copyurl" onClick="javascript:setCopy('<-{$boardurl}-><-{$REQUEST_URI}->');" title="复制地址">copy</a> <a href="<-{$boardurl}-><-{$REQUEST_URI}->" title="加入收藏" class="xspace-add2fav" onClick="javascript:addBookmark('<-{$sql_hotel.hot_subject}->','<-{$boardurl}-><-{$REQUEST_URI}->');return false;">Bookmark</a>
        <div class="start">
          <ul>
            <li><a id=start1 class=seldea title="A级"> </a></li>
            <li><a id=start2 title="AA级"> </a></li>
            <li><a id=start3 title="AAA级"> </a></li>
            <li><a id=start4 title="AAAA级"> </a></li>
			<li><a id=start5 title="AAAAA级"> </a></li>
          </ul>
          <script>rateHover(<-{$sql_travel.sc_start}->,5,'start')</script>
        </div>
        </p>
      </div>
    </div>
    <div id="menu">
      <ul id="xspace-menu">
        <li><a href="<-{$boardurl}->"><-{$configwebname}-></a></li>
        <li><a href="<-{$boardurl}->index.php?action=travel&option=single&id=<-{$sql_travel.sc_id}->">首页</a></li>
        <li><a href="<-{$boardurl}->index.php?action=travel&option=article&id=<-{$sql_travel.sc_id}->">资讯</a></li>
        <li><a href="<-{$boardurl}->index.php?action=travel&option=travelyou&id=<-{$sql_travel.sc_id}-> ">路线</a></li>
        <li><a href="<-{$boardurl}->index.php?action=travel&option=travelattrs&id=<-{$sql_travel.sc_id}->">案例</a></li>
        <li><a href="<-{$boardurl}->index.php?action=travel&option=travelphoto&id=<-{$sql_travel.sc_id}->">相册</a></li>
        <li><a href="<-{$boardurl}->index.php?action=travel&option=travelword&id=<-{$sql_travel.sc_id}->">留言</a></li>
      </ul>
    </div>
  </div>
  <div id="content" class="xspace-layout1">
    <div id="mainarea" class="mainarea-side">
      <div id="xspace-guide"> 您的位置: <a href="<-{$boardurl}->"><-{$configwebname}-></a> &raquo; <a href="<-{$boardurl}->index.php?action=travel&option=single&id=<-{$sql_travel.sc_id}->"><-{$sql_travel.sc_subject}-></a> &raquo; <a href="<-{$boardurl}->index.php?action=travel&option=article&id=<-{$sql_travel.sc_id}->">资讯</a></div>
	  <div id="show">
        <ul class="xspace-listtab">
          <li class="xspace-sublist xspace-active"><a>旅行社资讯</a></li>
          <li class=""><a href="javascript:;" onClick="fshowwindows('<-{$boardurl}->index.php?action=update&option=travelarticle&type=edit&id=<-{$sql_travel.sc_id}->',1,'发布资讯');">发布资讯</a></li>
        </ul>
        <div>
          <ul class="xspace-itemlist">
            <-{foreach from=$sql_hotelthread item=hotelthread}->
			<li class="xspace-loglist">
              <h4 class="xspace-entrytitle"> <a href="index.php?action=travel&option=thread&id=<-{$hotelthread.thr_hid}->&Industry=<-{$hotelthread.thr_id}->"><-{$hotelthread.thr_subject|strip|strip_tags}-></a></h4>
              <p class="xspace-smalltxt"> <-{$hotelthread.thr_date}-> <a>查看(<-{$hotelthread.thr_views}->)</a> <a href="javascript:;" onClick="fshowwindows('<-{$boardurl}->index.php?action=update&option=travelarticle&type=edit&id=<-{$hotelthread.thr_hid}->&Industry=<-{$hotelthread.thr_id}->',1,'修改资讯');">修改</a> <a href="javascript:;" onClick="_confirm_msg_show('确定删除资讯', 'Userloginon(\'<-{$boardurl}->index.php?action=update&option=travelarticle&type=del&id=<-{$hotelthread.thr_hid}->&Industry=<-{$hotelthread.thr_id}->\',\'\',\'\',\'location.href=\\\'<-{$boardurl}->index.php?action=travel&option=article&id=<-{$hotelthread.thr_hid}->\\\'\');', '', '');">删除</a></p>
              <div class="xspace-itemmessage" id="xspace-item169"> <-{$hotelthread.thr_content|strip|strip_tags|truncate:300:"":true}-></div>
            </li>
			<-{/foreach}->
          </ul>
        </div>
		<-{if $fpageup}-><div class="left_links" style="width:100%"><-{$fpageup}-></div><-{/if}->
      </div>
    </div>    
    <div id="sideleft" class="sidearea">
      <div id="avatar" class="xspace-sideblock">
        <div id="xspace-avatar"></div>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">用户菜单</h3>
        <ul id="xspace-action">
          <script src="<-{$boardurl}->spaces.php?action=showhotel&id=<-{$sql_travel.sc_id}->"></script>
        </ul>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">标题搜索</h3>
        <div style="padding:10px 10px 10px 10px">
          <input type="text" id="searchkey" name="searchkey" style="height:24px;" value="" />
          <input type="button"  style="background-image:url(image/admin/search_go.gif);height:24px;width:24px;cursor:hand;" onClick="fScreening('<-{$boardurl}->index.php?action=travel&option=single&id=<-{$sql_travel.sc_id}->&Keyword='+escape($('searchkey').value))" name="submit" id="submit" value="" />
        </div>
        <p id=showtraveltage></p>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">经典案例</h3>
        <ul class="xspace-list" id=showtravelattr>
        </ul>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">推荐图片</h3>
        <ul class="xspace-list" id=showtravelphoto>
        </ul>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">本社介绍</h3>
        <p id=showtravelinfo></p>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">本社交通</h3>
        <p id=showtraveltraffic></p>
      </div>
      <div class="xspace-sideblock">
        <h3 class="xspace-blocktitle">数据统计</h3>
        <ul class="xspace-list" id=showtravellist>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
getNews('xspace-avatar','<-{$boardurl}->index.php?action=travel&option=showhotlogo&id=<-{$sql_travel.sc_id}->');
getNews('showtraveltage','<-{$boardurl}->index.php?action=travel&option=showtraveltage&id=<-{$sql_travel.sc_id}->');
getNews('showtravelattr','<-{$boardurl}->index.php?action=travel&option=showtravelattr&id=<-{$sql_travel.sc_id}->');
getNews('showtravelphoto','<-{$boardurl}->index.php?action=travel&option=showtravelphoto&id=<-{$sql_travel.sc_id}->');
getNews('showtravelinfo','<-{$boardurl}->index.php?action=travel&option=showtravelinfo&id=<-{$sql_travel.sc_id}->');
getNews('showtraveltraffic','<-{$boardurl}->index.php?action=travel&option=showtraveltraffic&id=<-{$sql_travel.sc_id}->');
getNews('showtravellist','<-{$boardurl}->index.php?action=travel&option=showtravellist&id=<-{$sql_travel.sc_id}->');
</script>
<div id="xspace-footer">
  <p id="xspace-footer-ad"><-{$cache_config.hack_adfoot}-></p>
  <p id="xspace-copyright"><-{$POPlv}-> 执行时间：<-{$rentime}-></p>
</div>
<div id=showtage></div>
<iframe frameborder="0" height="0" width="0" scrolling="no" id=iframeupdate name=iframeupdate></iframe>
<div id=showwindow></div>
</body>
</html>
